annotated-types
anyio
click
fastapi
fastapi[standard]
h11
httptools
librosa
matplotlib
numpy
pandas
pillow
pip
pydantic
pydantic_core
pylint
pytest
python-multipart
PyYAML
scikit-learn
scipy
sniffio
soundfile
starlette
torch
torchaudio
torchsummary
tqdm
typing_extensions
uvicorn
uvloop
watchfiles
wave
websockets
